.sidebar {
    background-color: #1e1e2d;
    color: #fff;
    /* background-color: #fff; */
    /* background-color: #3c4b64; */
    /* color: #fff; */
}

.sidebar-logo, .sidebar-logo:hover {
    color: #fff;
    background-color: #1e1e2d;
    /* background: rgba(0,0,21,.2); */
    /* color: #000; */
    /* background: #fff; */
    display: block;
    padding: 15px;
    text-emphasis: center;
    text-decoration: none;
    font-size: 28px;
}

.sidebar-nav li {
    list-style: none;
}

.sidebar-nav li a { 
    color: #fff;
    /* color: black; */
}

.sidebar-nav-link {
    display: flex;
    flex: 1 1;
    align-items: center;
    padding: .8445rem 1rem;
    text-decoration: none;
    white-space: nowrap;
    transition: background .3s,color .3s;
}